@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: move-in-left 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: move-in-right 1s ease-out both; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all 0.2s ease;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: scale(1.1) skewY(2deg) skewX(20deg);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-center {
  display: flex;
  text-align: center;
  justify-content: center; }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }

.u-margin-xxx-small {
  margin-bottom: 1rem; }

.u-margin-xx-small {
  margin-bottom: 1.5rem; }

.u-margin-x-small {
  margin-bottom: 2rem; }

.u-margin-small {
  margin-bottom: 4rem; }

.u-margin-medium {
  margin-bottom: 6rem; }

.u-margin-large {
  margin-bottom: 8rem; }

.font-size {
  font-size: 3rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn--white {
  color: #777;
  background-color: #fff;
  animation: fade-in-bottom 0.5s 0.75s ease-out backwards; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a;
  animation: fade-in-bottom 0.5s 0.75s ease-out backwards; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  display: inline-block; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: ease-out 0.2s all;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0; }

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1.5px solid #28b485;
  padding: 0.3rem;
  display: inline-block;
  color: #28b485;
  transition: all 0.3s ease; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn-text:active {
  transform: translateY(1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.center--btn {
  display: flex;
  align-items: center;
  justify-content: center; }

.card--1 {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  height: 50rem; }
  .card--1--front {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: ease-in-out all 0.8s;
    background: none;
    backface-visibility: hidden;
    border-radius: 4px; }
  .card--1--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right bottom, #ffb900, #ff7730);
    transition: ease-in-out all 0.8s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 50rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 4px; }
  .card--1:hover .card--1--front {
    transform: rotateY(-180deg); }
  .card--1:hover .card--1--back {
    transform: rotateY(0); }

.card--2 {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  height: 50rem; }
  .card--2--front {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 50rem;
    transition: ease-in-out all 0.8s;
    background: none;
    border-radius: 4px;
    backface-visibility: hidden; }
  .card--2--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right bottom, #7ed56f, #28b485);
    transition: ease-in-out all 0.8s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 50rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 4px; }
  .card--2:hover .card--2--front {
    transform: rotateY(-180deg); }
  .card--2:hover .card--2--back {
    transform: rotateY(0); }

.card--3 {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  height: 50rem; }
  .card--3--front {
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: ease-in-out all 0.8s;
    background: none;
    backface-visibility: hidden;
    border-radius: 4px; }
  .card--3--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right bottom, #2998ff, #5643fa);
    transition: ease-in-out all 0.8s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 50rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 4px; }
  .card--3:hover .card--3--front {
    transform: rotateY(-180deg); }
  .card--3:hover .card--3--back {
    transform: rotateY(0); }

.card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-6.jpg); }
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-7.jpg); }
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-5.jpg); }

.card__heading {
  font-size: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 9rem;
  right: 2.5rem;
  font-weight: 300;
  width: 75%; }

.card__heading--span--1 {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.8rem 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }

.card__heading--span--2 {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.8rem 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }

.card__heading--span--3 {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.8rem 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }

.card__details {
  padding: 3rem; }
  .card__details ul {
    list-style-type: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-transform: capitalize;
      color: #777;
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }

.card--1--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; }

.card--2--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; }

.card--3--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; }

.card__cta .card__pricebox {
  margin: 0 0 9rem 0;
  font-size: 6rem;
  font-weight: 300; }
  .card__cta .card__pricebox .card__priceonly {
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: capitalize; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border-radius: 4px;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    transition: all ease-in-out 0.5s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.2);
      box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.2);
      outline: 1.5rem ridge #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
    filter: blur(5px); }

.feature-box {
  width: 100%;
  text-align: center;
  margin: 0 2rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: ease-in-out all 0.3s;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .feature-box__icon {
    padding: 2rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.form__group:not(:last-child) {
  margin-bottom: 1.7rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  color: inherit;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input::placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  font-weight: 700;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    border-radius: 50%;
    background-color: #55c57a;
    left: 50%;
    top: 50%;
    transition: opacity 0.2s;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__button {
  border: none;
  margin-top: 1rem;
  color: #fff;
  background-color: #55c57a;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: ease-out 0.2s all;
  position: relative; }
  .form__button::after {
    background-color: #55c57a;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1; }
  .form__button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .form__button:hover::after {
      transform: scaleX(1.3) scaleY(1.6);
      opacity: 0; }
  .form__button:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
    outline: none; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden; }
    .story__shape--img {
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: all 0.5s ease;
      transform: translateX(-4rem) scale(1.4); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__shape--img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1); }

.underline-from-left {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .underline-from-left:hover:before {
    right: 0; }

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .underline-from-center:hover:before {
    left: 0;
    right: 0; }

.underline-from-right {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .underline-from-right:hover:before {
    left: 0; }

.reveal {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-color: #fff;
    border-width: 0;
    border-style: solid;
    -webkit-transition-property: border width;
    transition-property: border width;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .reveal:hover:before {
    border-width: 4px;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.underline-reveal {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .underline-reveal:hover:before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.overline-reveal {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .overline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    height: 4px;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .overline-reveal:hover:before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.overline-from-left {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background-color: #2980b9;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .overline-from-left:hover:before {
    right: 0; }

.overline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    top: 0;
    background-color: #2980b9;
    height: 4px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .overline-from-center:hover:before {
    left: 0;
    right: 0; }

.overline-from-right {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .overline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    top: 0;
    background-color: #2980b9;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .overline-from-right:hover:before {
    left: 0; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem 0rem;
  grid-template-areas: "logo" "container"; }
  .footer__logo-box {
    grid-area: logo;
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__container {
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "navigation copyright"; }
  .footer__navigation {
    grid-area: navigation;
    border-top: 2px solid #eee;
    margin: 0 5rem;
    padding-top: 1rem; }
  .footer__list {
    text-align: center; }
  .footer__link {
    list-style-type: none;
    display: inline-block; }
    .footer__link:not(:last-child) {
      margin-right: 2rem; }
  .footer__lin {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .footer__lin:hover, .footer__lin:active {
      color: #55c57a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .footer__copyright {
    grid-area: copyright;
    border-top: 2px solid #eee;
    margin: 0 5rem;
    padding-top: 1rem;
    text-align: left; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background: #fff;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  text-align: center; }

.navigation__item {
  list-style-type: none;
  padding: 1rem;
  width: 100%;
  position: relative;
  margin: 2rem;
  transition: all 0.5s;
  display: inline-block; }
  .navigation__item span {
    margin-right: 1rem;
    display: inline-block; }
  .navigation__item::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 25rem;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s all;
    white-space: nowrap; }
  .navigation__item:hover::before {
    opacity: 0.05;
    letter-spacing: 0px; }

.navigation__link {
  padding: 1rem 2rem;
  font-size: 3rem;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  transition: 0.5s all; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.3rem;
    background-color: #333;
    display: inline-block;
    border-radius: 10rem; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }

.section-about__container {
  margin: 0 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem; }

.section-features {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-size: cover;
  padding: 20rem 10rem;
  transform: skewY(-7deg);
  margin-top: -9rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-features__container {
  display: flex; }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -15vh; }

.section-tours__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 5rem;
  padding: 0 17rem;
  perspective: 150rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem;
  background: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 50rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3); }
  .book__form {
    width: 50%;
    padding: 6rem; }
